@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/*-------------------------------------------------- General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 'smt1' 'hdr' 'mn' 'ftr' 'smt2';
    background-color: #FBFBFB;
    color: #333333;
}

/*-------------------------------------------------- Classes */
.d-block{
    display: block;
}

.mb-1{
    margin-bottom: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.ml-1{
    margin-left: 1rem;
}
.mr-1{
    margin-right: 1rem;
}

/*-------------------------------------------------- Text */
h1, h2, h3, p {
    line-height: 1.6em;
    margin-bottom: 1em;
}

a {
    color: #3B60E4;
    transition: color 300ms ease-in-out;
}

a:hover, a:focus {
    color: #384E77;
}

/*-------------------------------------------------- List */
ul {
    padding-left: 3rem;
}

li {
    margin-bottom: 1rem;
}

/*-------------------------------------------------- Button */

button {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 24px;
    background-color: #5CAEBF;
    border: none;
    border-radius: 6px;
    transition: opacity 300ms ease-in-out;
}

button:hover, button:focus {
    opacity: .6;
}

button:hover {
    cursor: pointer;
}

/*-------------------------------------------------- Container */
hr {
    margin-bottom: 1rem;
    border-color: rgba(51, 51, 51, 0.2);
}

div {
    padding: 1rem 0;
}

/*-------------------------------------------------- Clases */
.mt-1{
    margin-top: 1rem;
}


/*-------------------------------------------------- Header */
header {
    text-align: center;
    padding: .5rem 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    background-color: #FBFBFB;
    grid-area: hdr;
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

/*-------------------------------------------------- Main */
main {
    padding: 3rem 2rem;
    font-size: 1.2em;
    grid-area: mn;
}

/*-------------------------------------------------- Footer */
footer {
    background-color: #FBFBFB;
    padding: 0 1rem;
    grid-area: ftr;
}

footer ul {
    border-top: 1px solid rgba(34, 34, 34, .15);
    padding: 1rem 0 1.5rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer li {
    font-size: .8rem;
    line-height: 1.6em;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 0;
}

/*-------------------------------------------------- Forms */
label {
    margin-bottom: 1rem;
    display: inline-block;
}

input {
    display: block;
    max-width: 300px;
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 6px;
    color: #333333;
}

/*-------------------------------------------------- Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 6px;
}



.gallery > img {
    max-width: 90%;
    margin: 1em 5%;
    border-radius: 6px;
}

.gallery > span {
    display: flex;
    justify-content: center;
    width: 5em;
    height: 5em;
    align-items: flex-start;
    margin: auto;
}

.gallery div {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    padding: 2em;
    margin: 2em;
}

.gallery div img {
    width: 100%;
}

.gallery div h3 {
    padding: .5em;
    margin-bottom: 0;
    /*font-size: 3.2em;*/
    text-align: center;
    /*color: #134F5C;*/
}
.gallery div h4 {
    padding: .2em;
    margin-bottom: 0;
    /*font-size: 3.2em;*/
    text-align: center;
    color: red;
}
.gallery div p {
    padding: 0 .5em .5em;
    font-size: 1.4em;
    text-align: center;
}
.duracionResaltado {
    color: red;
}
/**
 * Web
 */
@media screen and (min-width: 960px) {

    /** Main */
    main div.gallery {
        flex-direction: row;
    }

    main div.gallery > img {
        max-width: 24%;
        margin: 1em .5%;
    }

    main div.gallery div {
        align-self: flex-start;
        width: 30%;
    }

    /** Footer */
    footer ul {
        flex-direction: row;
    }

}